* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #d541fa;
}

/* :root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #d541fa;
} */

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section.portfolio {
    background: var(--second-bg-color);/* #323946; */
    padding: 10rem 5%;
}

.projects {
    gap: 4rem;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
}

.portfolio h2 {
    margin-bottom: 5rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.about-content p span {
    color: var(--text-color);
}

.about-content p {
    text-align: justify;
}

.logo {
    font-size: 2.65rem;
    color: var(--text-color);
    cursor: pointer;
    font-weight: 600;
}

.logo:hover {
    color: var(--main-color);
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color)
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.arrow-to-down{
    position: absolute;
    bottom: 3%;
    animation: floatImage 2s ease-in-out infinite;
}
#arrowDown{
    font-size: 3rem;
}
.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content {
    margin-right: 6rem;
    text-align: justify;
    width: 35vw;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 600;
    line-height: 1.3;
}

.home-img img {
    width: 23vw;
    border-radius: 40px;
    border: 1px solid var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    font-size: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    color: var(--main-color);
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5 ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    border: 0.2rem solid var(--second-bg-color);
    
    border-radius: 50%;
    box-shadow: 0 0 1rem var(--main-color);
    animation: floatIcon 2s ease-in-out infinite;
    transition: 0.5s;
}

.social-media a:hover img {
    filter: invert(1) brightness(90);
    transform: scale(1.3);
    transition: 0.5;
}

@keyframes floatIcon {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-0.3rem);
    }

    100% {
        transform: translateX(0);
    }
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 600;
    color: var(--second-bg-color);
    cursor: pointer;
}

.btn:hover {
    box-shadow: none;
    animation: floatIcon 2s ease-in-out infinite;
    color: var(--text-color);
    transition: 0.3s ease-in-out;
}

section.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 21vw;
    border-radius: 210px;
    border: 1px solid var(--main-color);
    box-shadow: 0 0 0.8rem var(--main-color);
    animation: floatImage 4s ease-in-out infinite;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;

}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

section#skills,
section#about {
    min-height: auto;
    position: relative;
}

.portfolio-container {
    flex: 1;
    min-width: 400px;
    max-width: 500px;
    max-height: 500px;
}

.portfolio-container:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.7s;
    border: 1px solid var(--main-color)/* #d541fa */;
}

.skills h2 {
    margin-bottom: 4rem;
}

.skills-container {
    gap: 2rem;
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 7rem;
}

.skills-container .skill-box {
    background: var(--second-bg-color);
    padding: 1rem;
    width: 100%;
    height: 15rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
}

.skills-container .skill-box:hover {
    border-color: var(--main-color);
    transform: scale(1.04);
}

.skill-box h3 {
    font-size: 2.4rem;
}

.skill-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/* BREAKPOINT */
@media(max-width: 1200px) {
    html {
        font-size: 50%;
    }

    .skills-container {
        grid-template-columns: repeat(4, 3fr);
    }
}

@media(max-width: 1024px) {
    .home p {
        margin-right: 1rem;
    }

    .skills-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    .skills {
        padding-bottom: 7rem;
    }
}

@media(max-width: 962px) {
    .skills-container .skill-box {
        padding: 1rem 1rem;
    }

    section.portfolio {
        padding: 2rem;
    }

    .portfolio-container {
        max-width: 300px;
        min-width: 300px;
    }
}

@media(max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .skills-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills-container .skill-box {
        height: 17.5rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content {
        width: 100%;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 50vw;
        margin-top: 6rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-img img {
        width: 50vw;
        margin-top: 4rem;
    }

    .skills h2 {
        margin-top: 3rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 365px) {
    html {
        font-size: 45%;
    }

    .home-img img {
        width: 82vw;
    }

    .about-img img {
        width: 82vw;
    }

    .skills-container {
        width: 78vw;
    }
}

.filter-categorys{
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1.5rem;
}

.category-text{
    font-size: 1rem;
    color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--second-bg-color);/* #323946; */
    border: 1px solid var(--bg-color)/* #1f242d */;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #fff;
    gap: 0.75rem;
    padding: 0.4rem 1.2rem;
    border-radius: 0.5rem;
    font-family: inherit;
  }
  .dropdown-toggle:hover, .dropdown-menu li:hover{
    transition: ease-in-out 0.2s;
    background-color: var(--bg-color)/* #1f242d */;
    color: var(--main-color)/* #d541fa */;
  }
  .dropdown-toggle:hover{
    border: 1px solid var(--second-bg-color)/* #323946 */;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--second-bg-color)/* #323946 */;
    border: 1px solid var(--bg-color)/* #1f242d */;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    width: 100%;
  }
  .dropdown-menu li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.4rem 1.2rem;
    gap: 0.75rem;
  }
  .navbar-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .MuiMenu-list{
    background-color: #333 !important;
  }