/* :root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #d541fa;
} */

.select {
  color: #fff !important; /* Cor do texto */
  background-color: #323946 !important; /* Cor de fundo do Select */
  
}

.select fieldset {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1) !important;
}

.menuItem {
  color: #fff !important; /* Cor do texto dos itens do menu */
}

.formControl {
  margin: 1rem !important;
  min-width: 240px !important;
}

@media (max-width: 768px) {
  .formControl{
    width: 100% !important;
  }
}